<style>
    :root {
        --hover-tr: #f3f0ce;
    }
    table[id^="table-note-"] tbody tr:hover {
        color: #303030;
        cursor: pointer;
        background-color: var(--hover-tr) !important;
    }
    table[id^="table-note-"] tbody tr td:hover{
        color: #303030;
        cursor: pointer;
        background-color: var(--hover-tr) !important;
    }
</style>
<table id="table-note-{{ id_type }}">
    
</table>